{% extends "main.html" %}
{% block content %}
<div calss="row">
    <div class="col-sm">
        <h1>Catagories</h1>

        {% for category in categories %}
            <a href = "{{url_for('showCatagoryItems', category=category.name)}}">
                            <h3>{{category.name}}</h3>
            </a>
        {% endfor %}
    </div>    
    <div class="col-sm">
        <h1>Latest Items</h1>

        {% for lastCatalogItem in lastCatalogItems %}
            <a href = "{{url_for('showCategoryItem', category=lastCatalogItem.category.name, catalogItem=lastCatalogItem.title)}}">
                <h5>
                    {{lastCatalogItem.title}}
                    <span class="text-secondary">
                    ({{lastCatalogItem.category.name}})
                    </span>
                </h5>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

